# Environment mode
ENV_MODE=

# Admin URL
ADMIN_URL=

# Secret key
SECRET_KEY=

# JWT
SIGNING_KEY=

# Database
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Backend domain name
DEV_BACKEND_DOMAIN=
PROD_BACKEND_DOMAIN=

# Frontend domain name
LOCAL_FRONTEND_DOMAIN=
DEV_FRONTEND_DOMAIN=
PROD_FRONTEND_DOMAIN=

# Redhorse settings
VERIFICATION_CODE_EXP_TIME=
VERIFIED_PHONE_NUMBER_EXP_TIME=
MAX_PASSION_NUM=
PASSWORD_RESET_RETRY_WAIT_TIME=
MAX_PROFILE_PICTURE_NUM=
MAX_LIKE_NUM=

# Pusher
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=