# Environment mode
ENV_MODE=local

# Admin URL
ADMIN_URL=admin

# Secret key
SECRET_KEY=ABCDEFGHIJKLMNOPQRSTUVWXYZ01234567890abcdefghijklm

# JWT
SIGNING_KEY=abcdefghijklmnopqrstuvwxyz01234567890ABCDEFGHIJKLM

# Database
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Backend domain name
DEV_BACKEND_DOMAIN=
PROD_BACKEND_DOMAIN=

# Frontend domain name
LOCAL_FRONTEND_DOMAIN=localhost:3000
DEV_FRONTEND_DOMAIN=
PROD_FRONTEND_DOMAIN=

# Redhorse settings
MAX_LIKE_NUM=5
MAX_PASSION_NUM=3
MAX_PROFILE_PICTURE_NUM=9
PASSWORD_RESET_RETRY_WAIT_TIME=10
VERIFICATION_CODE_EXP_TIME=3
VERIFIED_PHONE_NUMBER_EXP_TIME=60

# Pusher
PUSHER_APP_ID=0000000
PUSHER_KEY=01234567890123456789
PUSHER_SECRET=01234567890123456789
PUSHER_CLUSTER=ap0