# Environment mode
ENV_MODE=

# Admin URL
ADMIN_URL=

# Secret key
SECRET_KEY=

# JWT
SIGNING_KEY=

# Database
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Backend domain name
BACKEND_DOMAIN=

# Frontend URL
FRONTEND_URL=

# Redhorse settings
MAX_LIKE_NUM=
MAX_PASSION_NUM=
MAX_PROFILE_PICTURE_NUM=
PASSWORD_RESET_RETRY_WAIT_TIME=
VERIFICATION_CODE_EXP_TIME=
VERIFIED_PHONE_NUMBER_EXP_TIME=

# Pusher
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=